[mysqld]
port=3306
socket=/var/run/mysqld/mysqld.sock
#socket=/var/lib/mysql/mysql.sock
datadir=/var/lib/mysql
#user=mysql
#old_passwords=1

character-set-server=utf8mb4
#skip-character-set-client-handshake
collation-server=utf8mb4_unicode_ci
#init-connect=SET NAMES utf8

default-storage-engine=innodb

#skip-bdb
skip-external-locking


max_connections=300
thread_cache_size=20
#thread_concurrency=8 # -> innodb_thread_concurrency
open_files_limit=1024
wait_timeout=1800
interactive_timeout=1800
key_buffer_size=16M
table_open_cache=1024
sort_buffer_size=6M
join_buffer_size=1M
read_buffer_size=1M
read_rnd_buffer_size=2M
myisam_sort_buffer_size=32M
max_allowed_packet=20M

max_heap_table_size=512M
tmp_table_size=512M
innodb_use_native_aio = 0

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# To enable the InnoDB Plugin, uncomment the 2 next lines
#ignore-builtin-innodb
#plugin-load=innodb=ha_innodb_plugin.so;innodb_trx=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so;innodb_lock_waits=ha_innodb_plugin.so;innodb_cmp=ha_innodb_plugin.so;innodb_cmp_reset=ha_innodb_plugin.so;innodb_cmpmem=ha_innodb_plugin.so;innodb_cmpmem_reset=ha_innodb_plugin.so

## for InnoDB param.
innodb_buffer_pool_size=1024M
#innodb_additional_mem_pool_size=20M # Removed v5.7.4
innodb_file_per_table
innodb_log_buffer_size=16M
innodb_redo_log_capacity=1024M
innodb_lock_wait_timeout=50
innodb_open_files=2000
innodb_flush_method=O_DIRECT
#innodb_flush_log_at_trx_commit=2
innodb_io_capacity=400
innodb_max_dirty_pages_pct=90
innodb_thread_concurrency=16
innodb_thread_sleep_delay=0
innodb_write_io_threads=8
innodb_page_size=16k


## replication (master/slave)
## not use replication
#log-bin=mysql-bin
#log-bin-index=mysql-bin.index
#binlog_format=mixed
server-id=103
#relay-log=mysqld-relay-bin
#relay-log-index=mysql-relay-bin.index
#log_slave_updates=1
#replicate-ignore-db=mysql,information_schema
#skip_slave_start
#read_only
#slave_net_timeout=120
#sync_binlog=1

# for slow-log
slow_query_log=1
slow_query_log_file=/var/run/mysqld/mysql.slow
long_query_time=1
#log-queries-not-using-indexes
#min_examined_row_limit=10000

skip-name-resolve
back_log=100

#log=/tmp/query.log

general_log=0
#general_log_file=/product/query_log/mysql.log

# timestamp
explicit_defaults_for_timestamp=1 # added v5.6.6

[mysqld_safe]
log_error=/var/log/mysqld.log
pid-file = /run/mysqld/mysqld.pid

[mysqldump]
quick
max_allowed_packet=16M
default-character-set=utf8mb4

[mysql]
no-auto-rehash
default-character-set=utf8mb4

[client]
ssl-mode = DISABLED
default-character-set = utf8mb4